@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2rgCIhM907-0x.woff2) format('woff2');
  unicode-range: U+0308, U+0530-058F, U+2010, U+2024, U+25CC, U+FB13-FB17;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2rACIhM907-0x.woff2) format('woff2');
  unicode-range: U+0951-0952, U+0964-0965, U+0980-09FE, U+1CD0, U+1CD2, U+1CD5-1CD6, U+1CD8, U+1CE1, U+1CEA, U+1CED, U+1CF2, U+1CF5-1CF7, U+200C-200D, U+20B9, U+25CC, U+A8F1;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2swCIhM907-0x.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2ugCIhM907-0x.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2vwCIhM907-0x.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2rwCIhM907-0x.woff2) format('woff2');
  unicode-range: U+1200-1399, U+2D80-2DDE, U+AB01-AB2E, U+1E7E0-1E7E6, U+1E7E8-1E7EB, U+1E7ED-1E7EE, U+1E7F0-1E7FE;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2oQCIhM907-0x.woff2) format('woff2');
  unicode-range: U+0589, U+10A0-10FF, U+1C90-1CBA, U+1CBD-1CBF, U+2D00-2D2F;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2vQCIhM907-0x.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2pQCIhM907-0x.woff2) format('woff2');
  unicode-range: U+0951-0952, U+0964-0965, U+0A80-0AFF, U+200C-200D, U+20B9, U+25CC, U+A830-A839;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2nQCIhM907-0x.woff2) format('woff2');
  unicode-range: U+0951-0952, U+0964-0965, U+0A01-0A76, U+200C-200D, U+20B9, U+25CC, U+262C, U+A830-A839;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2vACIhM907-0x.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2tQCIhM907-0x.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+19E0-19FF, U+200C-200D, U+25CC;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2twCIhM907-0x.woff2) format('woff2');
  unicode-range: U+0E81-0EDF, U+200C-200D, U+25CC;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2pwCIhM907-0x.woff2) format('woff2');
  unicode-range: U+0951-0952, U+0964-0965, U+0B01-0B77, U+1CDA, U+1CF2, U+200C-200D, U+20B9, U+25CC;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2owCIhM907-0x.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0D81-0DF4, U+1CF2, U+200C-200D, U+25CC, U+111E1-111F4;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu20ACIhM907-0x.woff2) format('woff2');
  unicode-range: U+0001-000C, U+000E-001F, U+007F-009F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+2800-28FF, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B00-2BFF, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F000-1F0FF, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F700-1F7FF, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8B1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA88, U+1FA90-1FABD, U+1FABF-1FAC5, U+1FACE-1FADB, U+1FAE0-1FAE8, U+1FAF0-1FAF8, U+1FB00-1FBFF;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2qACIhM907-0x.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2ogCIhM907-0x.woff2) format('woff2');
  unicode-range: U+0951-0952, U+0964-0965, U+0C00-0C7F, U+1CDA, U+1CF2, U+200C-200D, U+25CC;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2qgCIhM907-0x.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2sQCIhM907-0x.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2sACIhM907-0x.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 475;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesans/v59/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2vgCIhM907w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Google Symbols';
  font-style: normal;
  font-weight: 300 600;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/googlesymbols/v267/HhyqU5Ak9u-oMExPeInvcuEmPosC9zS3FYkFU68cPrjdKM1XMoDZlWmzc3IiWvF1SbxVhQidBnv_C-yl9mm4Tw.woff2) format('woff2');
}

@font-face {
  font-family: 'Google Sans Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesansmono/v20/P5sUzYWFYtnZ_Cg-t0Uq_rfivrdYH4RE8-pZ5gQ1abT53wVQGr-VZS26DMA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUu9-KzpRiLCAt4Unrc-xIKmCU5qE52i0VBuxOCBA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUu9-KzpRiLCAt4Unrc-xIKmCU5qEl2i0VBuxOCBA.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUu9-KzpRiLCAt4Unrc-xIKmCU5qEV2i0VBuxOCBA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUu9-KzpRiLCAt4Unrc-xIKmCU5qER2i0VBuxOCBA.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUu9-KzpRiLCAt4Unrc-xIKmCU5qEp2i0VBuxM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUp9-KzpRiLCAt4Unrc-xIKmCU5oLlVnmxjtjm4DZzFQQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUp9-KzpRiLCAt4Unrc-xIKmCU5oLlVnmtjtjm4DZzFQQ.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUp9-KzpRiLCAt4Unrc-xIKmCU5oLlVnmdjtjm4DZzFQQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUp9-KzpRiLCAt4Unrc-xIKmCU5oLlVnmZjtjm4DZzFQQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUp9-KzpRiLCAt4Unrc-xIKmCU5oLlVnmhjtjm4DZw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUp9-KzpRiLCAt4Unrc-xIKmCU5oPFTnmxjtjm4DZzFQQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUp9-KzpRiLCAt4Unrc-xIKmCU5oPFTnmtjtjm4DZzFQQ.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUp9-KzpRiLCAt4Unrc-xIKmCU5oPFTnmdjtjm4DZzFQQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUp9-KzpRiLCAt4Unrc-xIKmCU5oPFTnmZjtjm4DZzFQQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUp9-KzpRiLCAt4Unrc-xIKmCU5oPFTnmhjtjm4DZw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@mixin font($ff,$fs,$lh,$fw,$ls,$clr) {
	font-family: $ff;
	font-size: $fs;
	line-height: $lh;
	font-weight: $fw;
	letter-spacing: $ls;
	color: $clr;
}
@mixin flex_ac($ff,$jc,$ac) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: $ff;
	-moz-flex-flow: $ff;
	-ms-flex-flow: $ff;
	-o-flex-flow: $ff;
	flex-flow: $ff;
	-webkit-justify-content: $jc;
	justify-content: $jc;
	-webkit-align-content: $ac;
	align-content: $ac;
}
@mixin flex_ai($ff,$jc,$ai) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: $ff;
	-moz-flex-flow: $ff;
	-ms-flex-flow: $ff;
	-o-flex-flow: $ff;
	flex-flow: $ff;
	-webkit-justify-content: $jc;
	justify-content: $jc;
	-webkit-align-items: $ai;
	align-items: $ai;
}
@mixin background($bs,$bp,$br) {
	background-size: $bs;
	background-position: $bp;
	background-repeat: $br;
}
@mixin opacity($op) {
	filter: alpha(opacity=$op*100);
	-moz-opacity: $op;
	-webkit-opacity: $op;
	-khtml-opacity: $op;
	opacity: $op;
}
@mixin transition($trnsf...) {
	-webkit-transition: $trnsf;
	-moz-transition: $trnsf;
	-o-transition: $trnsf;
	-ms-transition: $trnsf;
	transition: $trnsf;
}

:root {
  --mio-theme-color-background: #fefbff;
  --mio-theme-color-surface-1: #f8f1f6;
  --mio-theme-color-surface-2: #f2ecee;
  --mio-theme-color-primary: #6442d6;
  --mio-theme-color-on-primary: #fff;
  --mio-theme-color-on-surface: #1f1f1f;
  --mio-theme-color-secondary-container: #dcdaf5;
  --mio-theme-color-on-surface-variant: #4d4256;
  --mio-theme-color-tertiary-container: #f1d3f9;
  --mio-theme-color-on-surface-variant-2: linear-gradient(0deg, rgba(77, 66, 86, .08), rgba(77, 66, 86, .08));
  --mio-theme-color-utility-outline: #787579;
  --mio-theme-color-surface-variant: #e8e0e8;
  --mio-theme-elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
  --mio-theme-color-neutral-90: #1c1b1d;
  --mio-theme-color-surface-0: #fff;

  --mio-theme-display-font-family: "Google Sans", sans-serif;
  --mio-theme-text-font-family: "Google Sans Text", sans-serif;
  --mio-theme-v2-hero-font-family: var(--mio-theme-display-font-family);
  --mio-theme-v2-headline-s-font-family: var(--mio-theme-display-font-family);
  --mio-theme-v2-title-l-font-family: var(--mio-theme-text-font-family);
  --mio-theme-v2-body-l-font-family: var(--mio-theme-text-font-family);
  --mio-theme-v2-display-l-font-family: var(--mio-theme-display-font-family);
  --mio-theme-v2-title-s-font-family: var(--mio-theme-text-font-family);
  --mio-theme-v2-title-m-font-family: var(--mio-theme-text-font-family);
  --mio-theme-v2-display-xl-font-family: var(--mio-theme-display-font-family);
  --mio-theme-v2-display-m-font-family: var(--mio-theme-display-font-family);
  --mio-theme-v2-display-s-font-family: var(--mio-theme-display-font-family);
  --mio-theme-v2-body-m-font-family: var(--mio-theme-text-font-family);


  --mio-theme-v2-hero-font-size: 96px;
  --mio-theme-v2-title-l-font-size: 22px;
  --mio-theme-v2-headline-s-font-size: 24px;
  --mio-theme-v2-display-l-font-size: 57px;
  --mio-theme-v2-title-s-font-size: 14px;
  --mio-theme-v2-title-m-font-size: 16px;
  --mio-theme-v2-display-xl-font-size: 88px;
  --mio-theme-v2-display-m-font-size: 45px;
  --mio-theme-v2-body-l-font-size: 16px;
  --mio-theme-v2-display-s-font-size: 36px;
  --mio-theme-v2-body-m-font-size: 14px;
  --mio-theme-v2-label-m-font-size: 12px;

  --mio-theme-v2-hero-font-weight: 475;
  --mio-theme-v2-headline-s-font-weight: 475;
  --mio-theme-v2-title-l-font-weight: 400;
  --mio-theme-v2-display-l-font-weight: 475;
  --mio-theme-v2-title-s-font-weight: 500;
  --mio-theme-v2-title-m-font-weight: 500;
  --mio-theme-v2-display-xl-font-weight: 475;
  --mio-theme-v2-display-m-font-weight: 475;
  --mio-theme-v2-body-l-font-weight: 400;
  --mio-theme-v2-display-s-font-weight: 475;
  --mio-theme-v2-body-m-font-weight: 400;
  --mio-theme-v2-label-m-font-weight: 500;

  --mio-theme-v2-hero-letter-spacing: 0;
  --mio-theme-v2-headline-s-letter-spacing: 0;
  --mio-theme-v2-title-l-letter-spacing: 0;
  --mio-theme-v2-display-l-letter-spacing: 0;
  --mio-theme-v2-title-s-letter-spacing: 0;
  --mio-theme-v2-title-m-letter-spacing: 0;
  --mio-theme-v2-display-xl-letter-spacing: 0;
  --mio-theme-v2-display-m-letter-spacing: 0;
  --mio-theme-v2-body-l-letter-spacing: 0;
  --mio-theme-v2-display-s-letter-spacing: 0;
  --mio-theme-v2-body-m-letter-spacing: 0;
  --mio-theme-v2-label-m-letter-spacing: .1px;

  --mio-theme-v2-hero-line-height: 1;
  --mio-theme-v2-headline-s-line-height: 32px;
  --mio-theme-v2-title-l-line-height: 30px;
  --mio-theme-v2-display-l-line-height: 64px;
  --mio-theme-v2-title-s-line-height: 20px;
  --mio-theme-v2-title-m-line-height: 24px;
  --mio-theme-v2-display-xl-line-height: 96px;
  --mio-theme-v2-display-m-line-height: 52px;
  --mio-theme-v2-body-l-line-height: 24px;
  --mio-theme-v2-display-s-line-height: 44px;
  --mio-theme-v2-body-m-line-height: 20px;
  --mio-theme-v2-label-m-line-height: 16px;

  --mio-theme-v2-hero-font-variation-GRAD: 0;
  --mio-theme-v2-hero-font-variation-opsz: 18;
  --mio-theme-v2-headline-s-font-variation-GRAD: 0;
  --mio-theme-v2-headline-s-font-variation-opsz: 18;

  --bs-gutter-x: 16px;
  --bs-gutter-y: 16px;

  --small-radius: 16px;
  --middle-radius: 24px;
  --big-radius: 48px;
}

body.light-mode {
  --mio-theme-color-background: #fefbff;
  --mio-theme-color-surface-1: #f8f1f6;
  --mio-theme-color-surface-2: #f2ecee;
  --mio-theme-color-primary: #6442d6;
  --mio-theme-color-on-primary: #fff;
  --mio-theme-color-on-surface: #1f1f1f;
  --mio-theme-color-secondary-container: #dcdaf5;
  --mio-theme-color-on-surface-variant: #4d4256;
  --mio-theme-color-tertiary-container: #f1d3f9;
  --mio-theme-color-on-surface-variant-2: linear-gradient(0deg, rgba(77, 66, 86, .08), rgba(77, 66, 86, .08));
  --mio-theme-color-utility-outline: #787579;
  --mio-theme-color-surface-variant: #e8e0e8;
  --mio-theme-color-neutral-90: #1c1b1d;
  --mio-theme-color-surface-0: #fff;
}

body.dark-mode {
  --mio-theme-color-background: #141314;
  --mio-theme-color-surface-1: #1c1b1d;
  --mio-theme-color-surface-2: #211f21;
  --mio-theme-color-primary: #9f86ff;
  --mio-theme-color-on-primary: #1a0056;
  --mio-theme-color-on-surface: #e6e1e3;
  --mio-theme-color-secondary-container: #45455a;
  --mio-theme-color-on-surface-variant: #cbc4cc;

  --mio-theme-color-tertiary-container: #553f5d;
  --mio-theme-color-on-surface-variant-2: linear-gradient(0deg, rgba(196, 199, 197, .08), rgba(196, 199, 197, .08));
  --mio-theme-color-utility-outline: #928f94;
  --mio-theme-color-surface-variant: #4d4256;
  --mio-theme-color-neutral-90: #e6e1e3;
  --mio-theme-color-surface-0: #0f0e0f;
}

.row {
  --bs-gutter-x: 16px;
}
main {
	.container-xl {
    --bs-gutter-x: 8px;
  }
}

h1 {
	@include font(var(--mio-theme-v2-hero-font-family),var(--mio-theme-v2-hero-font-size),var(--mio-theme-v2-hero-line-height),var(--mio-theme-v2-hero-font-weight),var(--mio-theme-v2-hero-letter-spacing),var(--mio-theme-color-neutral-90));
}
h2 {
 @include font(var(--mio-theme-v2-display-l-font-family),var(--mio-theme-v2-display-l-font-size),var(--mio-theme-v2-display-l-line-height),var(--mio-theme-v2-display-l-font-weight),var(--mio-theme-v2-display-l-letter-spacing),var(--mio-theme-color-on-surface));
}
.symbols {
  @include font('Google Symbols',40px,1,normal,normal,var(--mio-theme-color-on-surface));
}

.header-mob {
  position: fixed;
  width: 100%;
  height: 64px;
  top: -64px;
  background-color: var(--mio-theme-color-surface-0);
	@include flex_ai(row nowrap,space-between,center);
  z-index: 4;
  display: none;
    .nav-mob,
    .search-mob {
      width: auto;
      height: 48px;
      margin: 8px 12px;
    }
    .nav-mob {
      @include flex_ai(row nowrap,flex-start,center);
        .menu-mob-btn {
          width: 48px;
          height: 48px;
          @include flex_ai(row nowrap,center,center);
            span {
              color: var(--mio-theme-color-on-surface-variant);
              font-size: 24px;
            }
        }
        .title-mob {
          width: auto;
          height: 40px;
          margin: 0 11px;
          @include flex_ai(row nowrap,flex-start,center);
            span {
                &:nth-child(1) {
                  font-size: 22px;
                }
                &:nth-child(2) {
                  font-family: var(--mio-theme-display-font-family);
                  font-weight: 500;
                  color: var(--mio-theme-color-on-surface);
                  margin-left: 16px;
                  font-size: 16px;
                }
            }
        }
    }
    .search-mob {
      width: 48px;
      height: 48px;
      @include flex_ai(row nowrap,center,center);
        span {
          color: var(--mio-theme-color-on-surface-variant);
          font-size: 24px;
        }
    }
}

.shadow-bgr {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.32);
  z-index: 7;
  display: none;
    &.active {
      display: block;
    }
}

.nav-bar {
	position: fixed;
	@include flex_ac(column nowrap,space-between,center);
	height: 100%;
  transition: background-color .3s cubic-bezier(.2,0,0,1);
	background: var(--mio-theme-color-surface-2);
  overflow: hidden;
	overflow-y: auto;
	z-index: 8;
	width: 88px;
    * {
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    .symbols {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 32px;
      margin-right: auto;
      margin-bottom: 4px;
      margin-left: auto;
      transition: font-variation-settings .2s cubic-bezier(.2,0,0,1);
      border-radius: 100px;
    }
    .main-nav {
      width: 100%;
      height: auto;
	    @include flex_ac(column nowrap,flex-start,center);
      margin-top: 20px;
        .menu-mob-btn-close {
          display: none;
        }
        .section {
          width: 100%;
          margin: 0 auto 14px auto;
            a {
              width: 100%;
              @include flex_ai(column nowrap,center,center);
              text-decoration: none;
              outline: none;
              border: none;
              margin-left: auto;
              margin-right: auto;
              padding: 2px 2px 0 2px;
              color: var(--mio-theme-color-on-surface-variant);
                .symbols {
                  font-size: 24px;
                  margin-left: auto;
                  margin-right: auto;
                }
                span:nth-child(2) {
                  @include font(var(--mio-theme-display-font-family),var(--mio-theme-v2-label-m-font-size),var(--mio-theme-v2-label-m-line-height),var(--mio-theme-v2-label-m-font-weight),var(--mio-theme-v2-label-m-letter-spacing),var(--mio-theme-color-on-surface));
                  margin-bottom: 4px;
                  transition: font-variation-settings .2s cubic-bezier(.2,0,0,1);
                  text-align: center;
                }
                &:hover {
                  .symbols {
                    background: var(--mio-theme-color-on-surface-variant-2) !important;
                    font-variation-settings: "wght" 600, "opsz" 24;
                  }
                  span:nth-child(2) {
                    font-variation-settings: "GRAD" 50;
                  }
                }
            }
            &:nth-child(2) {
              margin: 0 auto 24px auto !important;
                a {
                  width: 56px;
                  height: 56px;
                  padding: 0;
                    .symbols {
                      width: 100%;
                      height: 100%;
                      margin: 0;
                      border-radius: 16px;
                      background: var(--mio-theme-color-tertiary-container);
                    }
                    &:hover {
                      a {
                        .symbols {
                          background: var(--mio-theme-color-tertiary-container) !important;
                        }
                      }
                    }
                }
            }
            &:nth-child(3) {
              a {
                .symbols {
                  background: var(--mio-theme-color-secondary-container);
                }
              }
            }
            .nav-bar-right {
              border-radius: 0px 16px 16px 0px;
              position: fixed;
              width: 256px;
              height: 100%;
              top: 0;
              left: -300px;
              bottom: 0;
              right: auto;
              padding: 8px 0 24px 0;
              overflow: hidden;
              overflow-y: auto;
              transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
              transition-delay: 300ms;
              background: var(--mio-theme-color-surface-2);
              border-left: 1px solid var(--mio-theme-color-surface-variant);
              box-shadow: var(--mio-theme-elevation-2);
                .item {
                  border-radius: 24px;
                  width: calc(100% - (8px*2));
                  height: 44px !important;
                  padding: 0 17px;
                  margin: 0 8px;
                  font-family: var(--mio-theme-display-font-family);
                  color: var(--mio-theme-color-on-surface-variant);
    	            @include flex_ai(row nowrap,flex-start,center);
                  background-color: inherit !important;
                    &:hover {
                      cursor: pointer;
                      background: var(--mio-theme-color-on-surface-variant-2) !important;
                    }
                    &.accordion-button::after {
                      background-image: none;
                      width: 0;
                      height: 0;
                      border: 5px solid transparent;
                      border-top-color: var(--mio-theme-color-on-surface-variant);
                      border-bottom: 0;
                    }
                    &.accordion-button:not(.collapsed) {
                      box-shadow: none !important;
                    }
                }
                .sub-item-block {
                  margin-left: 20px;
                }
            }
            &:hover .nav-bar-right {
              left: 88px;
							@include transition(left 300ms);
              transition-delay: 300ms;
            }
        }
    }
    .color-theme {
      width: 48px;
      height: 48px;
      margin: 0 auto;
      border-radius: 32px;
      outline: 1px solid var(--mio-theme-color-utility-outline);
      cursor: pointer;
      margin-bottom: 16px;
        .symbols {
          width: 48px;
          height: 48px;
          font-size: 24px;
            &.l {
              display: none;
              opacity: 1;
            }
            &.d {
              display: flex;
              opacity: 0;
            }
        }
        .title {
          display: none;
        }
        &:hover {
          .symbols {
            background: var(--mio-theme-color-on-surface-variant-2) !important;
            font-variation-settings: "FILL" 1, "wght" 600, "opsz" 24;
          }
        }
    }
}

body.light-mode {
  .nav-bar {
    .color-theme {
      .l {
        display: none;
        opacity: 0;
      }
      .d {
        display: flex;
        opacity: 1;
      }
    }
  }
}
body.dark-mode {
  .nav-bar {
    .color-theme {
      .l {
        display: flex;
        opacity: 1;
      }
      .d {
        display: none;
        opacity: 0;
      }
    }
  }
}

.container-fluid {
	width: 100%;
	padding: 8px 8px 0 calc(88px + 8px);
  background-color: var(--mio-theme-color-background);
    .row {
      width: 100%;
      margin: 0 auto;
    }
		header {
			.container-xxl {
				max-width: 1760px;
        padding-left: 0;
        padding-right: 0;
					.row {
            display: grid;
            grid-gap: 8px;
            gap: 8px;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-auto-flow: row;
							div {
                padding-right: 0;
                padding-left: 0;
  								&:first-child {
  							    margin: 0;
  							    padding: 56px;
  							    border-radius: var(--middle-radius);
  							    background-color: var(--mio-theme-color-surface-1);
  									min-height: 544px;
                    @include flex_ac(column wrap,center,center);
                      .text {
  									    @include font(var(--mio-theme-v2-title-l-font-family),var(--mio-theme-v2-title-l-font-size),var(--mio-theme-v2-title-l-line-height),var(--mio-theme-v2-title-l-font-weight),var(--mio-theme-v2-title-l-letter-spacing),var(--mio-theme-color-neutral-90));
                      }
  										.btn {
  									    @include font(var(--mio-theme-v2-headline-s-font-family),var(--mio-theme-v2-headline-s-font-size),var(--mio-theme-v2-headline-s-line-height),var(--mio-theme-v2-headline-s-font-weight),var(--mio-theme-v2-headline-s-letter-spacing),inherit);
  									    position: relative;
  									    width: auto !important;
  									    height: 80px;
  									    padding: 0 48px;
                        margin-top: 24px;
  									    transition: all .2s cubic-bezier(.2,0,0,1);
  									    border: 0;
  									    border-radius: var(--big-radius);
  									    background-color: var(--mio-theme-color-primary);
  									    color: var(--mio-theme-color-on-primary);
  									    white-space: nowrap;
  									    cursor: pointer;
  											outline: none;
  											border: 0;
  											box-shadow: none;
  												&:active {
  									    		border-radius: var(--small-radius);
  												}
                          &:hover {
                             @include opacity(0.8);
                          }
  										}
  								}
  								&:last-child {
  									height: auto;
  							    max-height: 542px;
  							    border-radius: var(--small-radius);
  										video {
  											width: 100%;
  									    height: 100%;
  									    -o-object-fit: cover;
  									    object-fit: cover;
  							    		border-radius: var(--small-radius);
  										}
  								}
							}
					}
			}
		}
		main {
			.container-xl {
				max-width: 1200px;
        --bs-gutter-x: 8px;
        padding-left: 0;
        padding-right: 0;
          .row {
            &:nth-child(2n+1) {
              margin-top: 72px;
                .col {
                  padding: 0;
                    h2 {
                      margin: 24px;
                    }
                }
            }
            &:nth-child(2n) {
              display: grid;
              grid-template-columns: repeat(6, 1fr);
              grid-gap: 8px;
              gap: 8px;
                .card {
                  grid-column: span 2;
                  border: 0;
                  padding: 0;
                  transition: border-radius .3s cubic-bezier(.2,0,0,1), background-color .3s cubic-bezier(.2,0,0,1);
                  border-radius: var(--middle-radius);
                  background: var(--mio-theme-color-surface-1);
                  color: var(--mio-theme-color-on-surface);
                  text-decoration: none;
                  overflow: hidden;
                  user-select: none;
                  &:hover {
                    background: var(--mio-theme-color-secondary-container);
                  }
                  &:active {
                    border-radius: var(--big-radius);
                  }
                    .bgr {
                      width: 100%;
                      height: 200px;
                      @include background(cover,50%,no-repeat);
                      border-bottom-left-radius: var(--middle-radius);
                      border-bottom-right-radius: var(--middle-radius);
                    }
                    .content {
                      margin: 24px;
                      display: grid;
                      grid-gap: 8px;
                      gap: 8px;
                        span {
                          width: 100%;
                          display: block;
                            &:first-child {
                              @include font(var(--mio-theme-v2-headline-s-font-family),var(--mio-theme-v2-headline-s-font-size),var(--mio-theme-v2-headline-s-line-height),var(--mio-theme-v2-headline-s-font-weight),var(--mio-theme-v2-headline-s-letter-spacing),inherit);
                              font-variation-settings: "GRAD" var(--mio-theme-v2-headline-s-font-variation-GRAD), "opsz" var(--mio-theme-v2-headline-s-font-variation-opsz);
                              transition: font-variation-settings .3s cubic-bezier(.2,0,0,1);
                            }
                            &:last-child {
                              @include font(var(--mio-theme-v2-body-l-font-family),var(--mio-theme-v2-body-l-font-size),var(--mio-theme-v2-body-l-line-height),var(--mio-theme-v2-body-l-font-weight),var(--mio-theme-v2-body-l-letter-spacing),inherit);
                              font-variation-settings: "GRAD" var(--mio-theme-v2-body-l-font-variation-GRAD), "opsz" var(--mio-theme-v2-body-l-font-variation-opsz);
                            }
                        }
                    }
                }
            }
            &:nth-child(6) {
              grid-template-columns: repeat(4, 1fr);
                .card {
                  .content {
                    height: 100%;
                    align-content: flex-end;
                  }
                }
            }
          }
			}
		}
    footer {
      margin-top: 120px;
        .container-xl {
  				max-width: 1280px;
          padding: 64px 40px;
            .row {
              &:first-child {
                display: grid;
                justify-content: space-between;
                grid-column-gap: 20px;
                -moz-column-gap: 20px;
                column-gap: 20px;
                grid-template-columns: 3fr 1fr 1fr 1fr;
                  .col-xl {
                    padding-left: 0;
                    padding-right: 0;
                      span {
                        @include font('Google Symbols',40px,1,normal,normal,var(--mio-theme-color-on-surface));
                        display: block;
                      }
                      p {
                        margin-top: 24px;
                        margin-right: 64px;
                        @include font(var(--mio-theme-v2-body-l-font-family),var(--mio-theme-v2-body-l-font-size),var(--mio-theme-v2-body-l-line-height),var(--mio-theme-v2-body-l-font-weight),var(--mio-theme-v2-body-l-letter-spacing),var(--mio-theme-color-on-surface));
                      }
                      ul {
                        list-style: none;
                        display: flex;
                        flex-flow: column wrap;
                        margin-top: 24px;
                        margin-bottom: 0;
                        row-gap: 20px;
                        padding: 0;
                          li {
                            @include font(var(--mio-theme-v2-title-s-font-family),var(--mio-theme-v2-title-s-font-size),var(--mio-theme-v2-title-s-line-height),var(--mio-theme-v2-title-s-font-weight),var(--mio-theme-v2-title-s-letter-spacing),var(--mio-theme-color-on-surface-variant));
                              a {
                                @include font(var(--mio-theme-v2-title-m-font-family),var(--mio-theme-v2-title-m-font-size),var(--mio-theme-v2-title-m-line-height),var(--mio-theme-v2-title-m-font-weight),var(--mio-theme-v2-title-m-letter-spacing),var(--mio-theme-color-primary));
                                text-decoration: none;
                                padding: 1px;
                              }
                          }
                      }
                  }
              }
              &:last-child {
                margin-top: 64px;
                  ul {
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: 16px;
                    -moz-column-gap: 24px;
                    column-gap: 24px;
                    padding: 0;
                      li {
                        &:first-child {
                          margin-right: 8px;
                          svg {
                            fill: var(--mio-theme-color-on-surface);
                          }
                        }
                        a {
                          @include font(var(--mio-theme-v2-title-m-font-family),var(--mio-theme-v2-title-m-font-size),var(--mio-theme-v2-title-m-line-height),var(--mio-theme-v2-title-m-font-weight),var(--mio-theme-v2-title-m-letter-spacing),var(--mio-theme-color-on-surface));
                          text-decoration: none;
                        }
                      }
                  }
              }
            }
        }
    }
}

@media (max-width: 1294px) {
  .container-fluid {
		header {
			.container-xxl {
				.row {
					grid-template-columns: repeat(1, 1fr);
            div {
              &:first-child {
                min-height: auto;
              }
            }
				}
			}
		}
  	main {
      .container-xl {
        .row {
          &:nth-child(2n) {
            grid-template-columns: repeat(4, 1fr);
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .header-mob {
    display: flex;
    top: 0;
  }
  .nav-bar {
    left: -320px;
  	@include flex_ac(column nowrap,flex-start,center);
    transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
    @include transition(left 300ms);
  	width: 320px;
      &.open {
        border-radius: var(--small-radius);
        left: 0;
        @include transition(left 300ms);
        box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, .12);
      }
      .main-nav {
        width: 100%;
        height: calc(100vh - 80px);
  	    @include flex_ac(column nowrap,flex-start,center);
        margin-top: 0;
        overflow: hidden;
        overflow-y: auto;
          .menu-mob-btn-close {
            width: 48px;
            height: 48px;
            margin: 16px 0 12px 9px;
            @include flex_ac(column nowrap,center,center);
            display: block;
              span {
                font-size: 24px;
              }
          }
          .section {
            width: calc(100% - 8px - 8px);
            height: 48px;
            margin: 0 auto;
            padding: 0 16px;
            border-radius: var(--middle-radius);
              a {
                padding: 0;
                @include flex_ai(row nowrap,flex-start,center);
                  .symbols {
                    width: 24px;
                    height: 48px;
                    margin: 0 16px 0 0;
                  }
                  span:nth-child(2) {
                    font-size: var(--mio-theme-v2-title-m-font-size);
                    margin-bottom: 0;
                  }
              }
              &:nth-child(2) {
                display: none;
              }
              &:nth-child(3) {
                background: var(--mio-theme-color-secondary-container);
                  a {
                    .symbols {
                      background: none;
                    }
                  }
              }
              &:hover .nav-bar-right {
                left: 88px;
  							@include transition(left 300ms);
                transition-delay: 300ms;
              }
          }
      }
      .color-theme {
        position: absolute;
        bottom: 0;
        width: 214px;
        left: calc((100% - 214px) / 2);
        padding: 12px 16px;
      	@include flex_ai(row nowrap,flex-start,center);
          .symbols {
            width: 24px;
            height: 24px;
            margin: 0 8px 0 0;
            font-size: 24px;
      	    @include flex_ai(row nowrap,center,center);
              &.l {
                display: none;
                opacity: 1;
              }
              &.d {
                display: flex;
                opacity: 0;
              }
          }
          .title {
            display: block;
            color: var(--mio-theme-color-on-surface-variant);
          }
          &:hover {
            .symbols {
              background: none;
              font-variation-settings: "FILL" 0;
            }
          }
      }
  }

  .container-fluid {
    padding-top: calc(65px + 8px);
    padding-left: 8px;
    	main {
        .container-xl {
          .row {
            &:nth-child(6) {
              grid-template-columns: repeat(1, 1fr);
            }
          }
        }
      }
      footer {
        .container-xl {
          .row {
            &:first-child {
              grid-template-columns: 1fr 1fr 1fr;
                .col-xl:first-child {
                  grid-column: span 3;
                  margin-right: 0;
                }
            }
          }
        }
      }
  }
}

@media screen and (min-width: 601px) and (max-width: 1294px) {
  h1 {
  	@include font(var(--mio-theme-v2-display-xl-font-family),var(--mio-theme-v2-display-xl-font-size),var(--mio-theme-v2-display-xl-line-height),var(--mio-theme-v2-display-xl-font-weight),var(--mio-theme-v2-display-xl-letter-spacing),var(--mio-theme-color-neutral-90));
  }
  h2 {
   @include font(var(--mio-theme-v2-display-m-font-family),var(--mio-theme-v2-display-m-font-size),var(--mio-theme-v2-display-m-line-height),var(--mio-theme-v2-display-m-font-weight),var(--mio-theme-v2-display-m-letter-spacing),var(--mio-theme-color-on-surface));
  }
}

@media (max-width: 600px) {
  h1 {
    @include font(var(--mio-theme-v2-display-m-font-family),var(--mio-theme-v2-display-m-font-size),var(--mio-theme-v2-display-m-line-height),var(--mio-theme-v2-display-m-font-weight),var(--mio-theme-v2-display-m-letter-spacing),var(--mio-theme-color-neutral-90));
  }
  h2 {
   @include font(var(--mio-theme-v2-display-s-font-family),var(--mio-theme-v2-display-s-font-size),var(--mio-theme-v2-display-s-line-height),var(--mio-theme-v2-display-s-font-weight),var(--mio-theme-v2-display-s-letter-spacing),var(--mio-theme-color-on-surface));
  }
  .container-fluid {
  	header {
  		.container-xxl {
  			.row {
  				div {
  					&:first-child {
              padding: 32px;
                .text {
                  @include font(var(--mio-theme-v2-body-l-font-family),var(--mio-theme-v2-body-l-font-size),var(--mio-theme-v2-body-l-line-height),var(--mio-theme-v2-body-l-font-weight),var(--mio-theme-v2-body-l-letter-spacing),inherit);
                }
            }
          }
        }
      }
    }
  	main {
      .container-xl {
        .row {
          &:nth-child(2n) {
            grid-template-columns: repeat(1, 1fr);
              .card {
                .content {
                  span {
                    &:last-child {
                      @include font(var(--mio-theme-v2-body-m-font-family),var(--mio-theme-v2-body-m-font-size),var(--mio-theme-v2-body-m-line-height),var(--mio-theme-v2-body-m-font-weight),var(--mio-theme-v2-body-m-letter-spacing),inherit);
                    }
                  }
                }
              }
          }
        }
      }
    }
  }
}
